# Editor settings
.vscode

# Cache
.cache

# Local System
.DS_store

# Local env
.env.*

# Dependency directories
node_modules
coverage

# Output
build
dist

server/ipfs
server/ipfs-test
server/orbitdb